.board-row, .column-labels {
  display: flex; 
  flex-direction: row;
}
.square{
    width: 20px;
    height: 20px;
}
#chessboard{
    font-size: 0.75rem;
}

.row-label{
    width: 40px;
    height: 20px;
    display: flex;
   justify-content: flex-end; 
    margin-right: 5px;
    align-items: center;
}
.column-label{
width: 20px;
height: 20px;
display: inline-block;
text-align: center;
}
.light{
    background-color: rgb(255, 205, 113);
}
.dark{
    background-color: rgb(47, 29, 29);
}